body, html{
    padding: 0;
    margin: 0;
}

header{
    background-color: plum;
    height: 60px;
}

section{
    background-color: green;
    display: flex;
    /*flex-direction: column;*/
}

nav{
    width: 25%;
    background-color: coral;
}

footer{
    background-color: aquamarine;
    height: 80px;
}

article{
    width: 75%;
    height: 250px;
    background-color: beige;
}

#container{
    margin: 0 auto;
    width: 1200px;
    background-color: orange;
}